@using Fulbaso.Contract
@using Fulbaso.UI

@model Place

@{
    ViewBag.Title = Configuration.AppTitle + " - " + Model.Description;
    ViewBag.FormTitle = Model.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    <div class="page-header">
        <h1>@Model.Description</h1>
    </div>
}

<div class="container">
    <div class="row">
        <div class="span12">
            @Html.Partial("Menu", Model.Page)

            <div style="margin: 10px;"></div>

            @Html.Partial("PlaceInfo", Model)
        </div>
    </div>
</div>
