@using Fulbaso.Contract
@using Fulbaso.Web

@model Place

@{
    ViewBag.Title = Configuration.AppTitle + " - " + Model.Description;
    ViewBag.FormTitle = Model.Description;
}

@section Header
{
    <div class="page-header">
        <h1>@Model.Description</h1>
    </div>
}

@Html.Partial("Menu", Model.Page)

<div style="margin: 10px;"></div>

@Html.Partial("PlaceInfo", Model)

@*todo dashboard*@