@using Fulbaso.Common.Security
@using Fulbaso.Web

@if (Request.IsAuthenticated)
{
    <ul class="nav pull-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                @*<li><a href="#"><i class="icon-cog"></i>&nbsp;Configuración</a></li>
                <li><a href="#"><i class="icon-user"></i>&nbsp;Perfil</a></li>
                <li><a href="#"><i class="icon-star"></i>&nbsp;Favoritos</a></li>
                <li class="divider"></li>*@
                <li><a id="logout" href="@Url.Action("LogOut", "Home")"><i class="icon-off"></i>&nbsp;Cerrar sesión</a></li>
            </ul>
        </li>
    </ul> 
}
else
{
    <div class="nav navbar-form pull-right">
        <a class="btn" href="@Url.Action("Login", "Home")">Iniciar sesión</a>
    </div>
}