@using System.Collections;
@using Fulbaso.UI.Models;

@model IEnumerable<BreadcrumbModel>

<ul class="breadcrumb">
    @foreach (var b in Model.Where(i => i != null))
    {
        if (b.Enabled)
        {
            <li>
                @Html.ActionLink(b.Description, b.Action, b.Controller, b.RouteValues, null)
                @if (Model.Where(i => i != null).Last() != b)
                {
                    <span class="divider">&gt;</span>
                }
            </li>
        }
        else
        {
            <li class="active">@b.Description</li>
        }
    }
</ul>