@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>Ha ocurrido un error.</h2>
<div style="display:none;">@Model.Exception.Message @(Model.Exception.InnerException != null ? Model.Exception.InnerException.Message : "")</div>
