<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ObjectContextEntities" connectionString="metadata=res://*/ObjectContext.csdl|res://*/ObjectContext.ssdl|res://*/ObjectContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TenarisDbServer;Initial Catalog=f;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings/>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US"/>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Fulbaso.Service.PlaceService" >
        <endpoint address="" binding="webHttpBinding"
          contract="Fulbaso.Service.Contract.IPlaceService" behaviorConfiguration="web"/>
      </service>
      <service name="Fulbaso.Service.CommonService">
        <endpoint address="" binding="webHttpBinding"
          contract="Fulbaso.Service.Contract.ICommonService" behaviorConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>