.clearAll { clear: both; }
.address { background-image: url('../img/house.png'); }
.info { background-image: url('../img/information.png'); }
.howToArrive { background-image: url('../img/map.png'); }
.phone { background-image: url('../img/telephone.png'); }
.courts { background-image: url('../img/sport_soccer.png'); }
.tags { background-image: url('../img/tag_blue.png'); background-position: 0 0.5em !important; }
.ui-info { color: #000; margin: 2px 0; padding: 2px 0 2px 25px; background-repeat: no-repeat; min-height: 20px; list-style-type: none; background-position: 0 .2em; }
.ui-remark { background-color: #eef4f5; border: 1px solid #ccc; }
.noDisplay  { display: none; visibility: hidden; }
.fb-comments, .fb-comments iframe[style] { width: 100% !important; }
.place-info { margin-bottom: 20px; text-decoration: none !important; border: solid 1px #e5e5ff; padding: 10px; display: block; background-color: #e5e5ff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 1px 1px 3px 1px #ccc; -webkit-box-shadow: 1px 1px 3px 1px #ccc; box-shadow: 1px 1px 3px 1px #ccc; }
.place-info h3 { margin-top: 0; }
.place-info:hover { animation: placeanimation 0.5s; -moz-animation: placeanimation 0.5s; -webkit-animation: placeanimation 0.5s; -o-animation: placeanimation 0.5s; background-color: white; border-color: #999; }

@keyframes placeanimation
{
	from { background: #e5e5ff; border-color: #e5e5ff; }
	to { background: white; border-color: #999; }
}

@-moz-keyframes placeanimation /* Firefox */
{
	from { background: #e5e5ff; border-color: #e5e5ff; }
	to { background: white; border-color: #999; }
}

@-webkit-keyframes placeanimation /* Safari and Chrome */
{
	from { background: #e5e5ff; border-color: #e5e5ff; }
	to { background: white; border-color: #999; }
}

@-o-keyframes placeanimation /* Opera */
{
	from { background: #e5e5ff; border-color: #e5e5ff; }
	to { background: white; border-color: #999; }
}

@media (max-width: 979px) {
    body { padding-top: 0px !important; }
    .frontnav { display:none; }
	.navbar-fixed-top { margin-left: -20px; margin-right: -20px; }
	#searchtext { width: 160px; }
	.navbar .container { padding-left: 6px !important; padding-right: 6px !important; }
}