.clearAll { clear: both; }

.address { background-image: url('../img/house.png'); }
.info { background-image: url('../img/information.png'); }
.howToArrive { background-image: url('../img/map.png'); }
.phone { background-image: url('../img/telephone.png'); }
.courts { background-image: url('../img/sport_soccer.png'); }
.tags { background-image: url('../img/tag_blue.png'); background-position: 0 0.5em !important; }

.ui-info { color: #000; margin: 2px 0; padding: 2px 0 2px 25px; background-repeat: no-repeat; min-height: 20px; list-style-type: none; background-position: 0 .2em; }
.ui-remark { background-color: #eef4f5; border: 1px solid #ccc; }
.noDisplay  { display: none; visibility: hidden; }

.fb-comments, .fb-comments iframe[style] { width: 100% !important; }

.place-info { margin-bottom: 20px; text-decoration: none !important; }
