<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CM" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HCI-PC027\SQL2005;initial catalog=CM;persist security info=True;user id=sa;password=password12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
