<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ObjectContextEntities" connectionString="Data Source=TenarisDbServer; Integrated Security=SSPI;Initial Catalog=f;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>