@using Fulbaso.Contract

@model Place

@section Header
{
    <div class="page-header">
        <h1>
            @Model.Description
            @if (Model != null)
            {
                <small>Imágenes</small>
            }
        </h1>
    </div>
}

@Html.Partial("Menu", (string)Model.Page)

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Agregar imagen
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>@Html.ActionLink("Desde URL", "FromURL", new { place = Model.Page })</li>
    <li>@Html.ActionLink("Desde archivo", "FromFile", new { place = Model.Page })</li>
  </ul>
</div>