<div class="container">
    <div class="row">
        <div class="span12">
            <ul id="content">
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="input-append">
                <input type="text" class="input-xlarge" type="text" autocomplete="off" id="output" />
                <a id="submit" class="btn">Submit</a>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.signalR-0.5.3.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var connection = $.connection('@Url.Content("~")/echo');

        connection.received(function (data) {
            alert("test");
            
            var obj = jQuery.parseJSON(data);

            

            $("#content").append("<li><b>" + obj.type + "</b> " + (obj.user ? ("(" + obj.user + ") ") : "") + "<b>&gt;</b> " + obj.action + "</li>");
        });

        connection.start();

        function submitQuery() {
            $.post("@Url.Action("Action", "Console")", { args: $("#output").val() });
        }

        $("#submit").click(submitQuery).keypress(function(e)
        {
            code= (e.keyCode ? e.keyCode : e.which);
            if (code == 13) submitQuery();
            e.preventDefault();
        });;
    });
</script>